
body {
    background: url(bkg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;

}

.fab{font-size: 40pt;}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social{color:white;
    display: block;
    flex-grow: 1;
    transition: flex-grow 1s;
    text-align: center; 
    padding: 15px;
}.social:hover{flex-grow: 2;}

.footer{color:white;
    display: block;
    text-align: center; 
    padding: 15px;}



    .insta {background: #d6249f;background: linear-gradient( 20deg ,#f56040,  #e1306c ,#833ab4 );}
    .twitter{background-color:#1DA1F2}
    .twitch{background-color:#9146ff}
    .tiktok{background-color:black; height:53; width:56;}
    .discord{background-color:#7289da}
    .white{background-color:white;margin:5px 5px 5px 5px; border-radius: 50px;}

    a:link {
  text-decoration: none;

}

    
      p{
          font-size: 18px;
          font-weight: 400;
          color:white;
          text-align:center;
          font-family: 'Quicksand', sans-serif;
          text-shadow: 1px 1px 8px rgba(0,0,0,1);
          line-height: normal;
      }
      .bold{
        font-size: 22px;
        font-weight: 700;}

      .logo{
        display: block;
        flex-shrink: 2;
        text-align: center; 
        padding: 15px 5px 15px 5px; text-shadow: 1px 1px 8px rgba(0,0,0,0.5)}

      .avatar{
        border-style: none; border-radius: 500px; 
        max-width:200px;
      }



footer{
    background-color: rgba(131,131,161,1);
    padding:50px;
}

.small{
    font-size: 24pt;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5)
}

.button {
    border-radius: 10px;
    background-color: white;
    border: none;
    color: black;
    padding:10px 25% 10px 25%;
height:50px;
width:auto;
  }

  img{width:100%; height:auto}